<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 定义一个名为 fishbot_ros2_control 的宏，用于设置 fishbot 的控制系统 -->
    <xacro:macro name="fishbot_ros2_control">
        
        <!-- ROS 2 控制配置，名称为 FishBotGazeboSystem，类型为 system -->
        <ros2_control name="FishBotGazeboSystem" type="system">
            
            <!-- 硬件插件配置，使用 gazebo_ros2_control 插件 -->
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            
            <!-- 左轮的关节控制配置 -->
            <joint name="left_wheel_joint">
                <!-- 速度控制接口 -->
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <!-- 力矩控制接口 -->
                <command_interface name="effort">
                    <param name="min">-0.1</param>
                    <param name="max">0.1</param>
                </command_interface>
                <!-- 状态接口：位置、速度和力矩 -->
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            
            <!-- 右轮的关节控制配置 -->
            <joint name="right_wheel_joint">
                <!-- 速度控制接口 -->
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <!-- 力矩控制接口 -->
                <command_interface name="effort">
                    <param name="min">-0.1</param>
                    <param name="max">0.1</param>
                </command_interface>
                <!-- 状态接口：位置、速度和力矩 -->
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            
        </ros2_control>
        
        <!-- Gazebo 插件配置 -->
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <!-- 配置文件路径 -->
                <parameters>$(find fishbot)/config/fishbot_ros2_controller.yaml</parameters>
                
                <!-- 话题重映射 -->
                <ros>
                    <remapping>/fishbot_diff_drive_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
                    <remapping>/fishbot_diff_drive_controller/odom:=/odom</remapping>
                </ros>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>
