<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fishbot">
    <!-- fishcar的底座 -->
    <xacro:include filename="$(find fishbot)/urdf/fishcar/base.xacro" />
     <!-- 执行器组件 -->
    <xacro:include filename="$(find fishbot)/urdf/fishcar/actuator/wheel.xacro" />
    <xacro:include filename="$(find fishbot)/urdf/fishcar/actuator/caster.xacro" />
    <!-- 传感器组件 -->
    <xacro:include filename="$(find fishbot)/urdf/fishcar/sensor/laser.xacro" />
    <xacro:include filename="$(find fishbot)/urdf/fishcar/sensor/imu.xacro" />
    <xacro:include filename="$(find fishbot)/urdf/fishcar/sensor/camera.xacro" />

    <!-- Gazebo 插件 -->
    <!-- <xacro:include filename="$(find fishbot)/urdf/fishbot/plugins/gazebo_control_plugin.xacro" /> -->
    <xacro:include filename="$(find fishbot)/urdf/fishcar/plugins/gazebo_sensor_plugin.xacro" />

    <!-- ros2_control -->
    <xacro:include filename="$(find fishbot)/urdf/fishcar/fishbot_control.xacro" />
    
    
    <!-- 调用底座的宏 -->
    <xacro:base_xacro length="0.12" radius="0.1" />
    <!-- 调用底座执行器主动轮+从动轮的宏 -->
    <xacro:wheel_xacro wheel_name="left" length="0.04" radius="0.032" xyz="0 0.10 -0.06" />
    <xacro:wheel_xacro wheel_name="right" length="0.04" radius="0.032" xyz="0 -0.10 -0.06" />
    <xacro:caster_xacro caster_name="front" radius="0.016" xyz="0.08 0.0 -0.076" />
    <xacro:caster_xacro caster_name="back" radius="0.016" xyz="-0.08 0.0 -0.076" />
    <!-- 传感器 -->
    <xacro:imu_xacro xyz="0 0 0.02" />
    <xacro:laser_xacro xyz="0 0 0.10" />
    <xacro:camera_xacro xyz="0.10 0 0.075" />

    <!-- 调用gazebo_插件 -->
    <!-- <xacro:gazebo_control_plugin /> -->
    <xacro:gazebo_sensor_plugin />

    <!-- 调用ros2_control -->
    <xacro:fishbot_control />
</robot>
