<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- 引入外部的惯性定义文件 -->
  <xacro:include filename="$(find fishbot)/urdf/common_inertia.xacro" />

  <!-- 定义一个名为 imu_xacro 的宏，接受一个参数 xyz -->
  <xacro:macro name="imu_xacro" params="xyz">    
    <!-- 定义一个名为 imu_link 的链接 -->
    <link name="imu_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>      <!-- 定义几何形状为一个立方体，大小为 0.02m x 0.02m x 0.02m -->
          <box size="0.02 0.02 0.02" />
        </geometry>
        <material name="black">       <!-- 设置视觉元素的材质为黑色，透明度为 0.8 -->
          <color rgba="0 0 0 0.8" />
        </material>
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.02 0.02 0.02" />
        </geometry>
        <!-- 设置碰撞元素的材质（通常用于调试，不影响物理仿真） -->
        <material name="black">
          <color rgba="0 0 0 0.8" />
        </material>
      </collision>
      
      <!-- 使用外部定义的惯性参数，设置该链接的惯性 -->
      <xacro:box_inertia m="0.01" w="0.02" d="0.02" h="0.02"/>
    </link>

    <!-- 定义一个固定关节，将 imu_link 连接到 base_link 上 -->
    <joint name="imu_joint" type="fixed">
      <!-- 设定父链接为 base_link -->
      <parent link="base_link" />
      <!-- 设定子链接为 imu_link -->
      <child link="imu_link" />
      <!-- 设置关节的原点位置，使用传入的 xyz 参数 -->
      <origin xyz="${xyz}" />
    </joint>
    
  </xacro:macro>
  
</robot>
